{{ logs_dir }}/*log {
    {{ rotate_frequency }}
    rotate {{ rotate_retention }}
    missingok
    notifempty
    {% if old_dir %}
    olddir {{ old_dir_path }}
    {% endif %}
    dateext
    dateformat -%Y%m%d
    compress
    compresscmd /bin/bzip2
    compressext .bz2
    sharedscripts
    postrotate
        /bin/systemctl reload httpd.service > /dev/null 2>/dev/null || true
    endscript
}
